<div class='mt-4'>
	<div>
		<a href="/me/stored/courses">Courses List</a>
		<h3>Deleted Courses</h3>
	</div>

	<table class='table mt-4'>
		<thead>
			<tr>
				<th scope='col'>#</th>
				<th scope='col'>Name</th>
				<th scope='col'>Level</th>
				<th scope='col'>Deleted At</th>
				<th scope='col'>Actions</th>
			</tr>
		</thead>

		<tbody>
			{{#each courses}}
				<tr>
					<th scope='row'>{{sum @index 1}}</th>
					<td>{{this.name}}</td>
					<td>{{this.level}}</td>
					<td>{{this.createdAt}}</td>
					<td>
						<a href='#' class='btn btn-link btn-restore' data-id="{{this._id}}">Restore<a/>
						<a href='#' class='btn btn-link' data-toggle="modal" data-target="#deleteConfirmationModal" data-id="{{this._id}}">Delete<a/>
					</td>
				</tr>

				{{else}}
				<tr>
					<td colspan='5' class="text-center">No courses deleted.</td>	
				</tr>
		
			{{/each}}
		</tbody>
	</table>
</div>

{{!-- delete confirmation modal --}}
<div class="modal" id="deleteConfirmationModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This action cannot be restored. Do you still want to delete this course?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="btn-delete-course-modal" class="btn btn-danger">Delete Permanently</button>
      </div>
    </div>
  </div>
</div>

{{!-- forms --}}
<form name="delete-course-form" method='POST'></form>
<form name="restore-course-form" method='POST'></form>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		let courseId = null;
		const deleteForm = document.forms['delete-course-form']
		const restoreForm = document.forms['restore-course-form']
		const modalDeleteCourseBtn = document.getElementById('btn-delete-course-modal');
		const restoreCourseBtns = $('.btn-restore');

		// when delete confirmation modal is shown
		$('#deleteConfirmationModal').on('show.bs.modal', function (event) {
			const button = $(event.relatedTarget) // Button that triggered the modal
			courseId = button.data('id') // Extract info from data-* attributes
		})

		// when delete button is clicked
		modalDeleteCourseBtn.addEventListener('click', () => {
			deleteForm.action = `/courses/${courseId}/force?_method=DELETE`;
			deleteForm.submit();
		})

		// handle restore course button click using jquery
		restoreCourseBtns.click(function(e) {
			e.preventDefault();

			// get course id, $(this) refers to the clicked button
			const courseId = $(this).data('id');

			restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`;
			restoreForm.submit();
		})
	});
</script>